/* https://coolors.co/4d9de0-e15554-e1bc29-3bb273-7768ae */
@font-face {
    font-family: Roboto;
    src: url(./Roboto/Roboto-Medium.ttf)
}
/* general */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    height: 100vh;
    font-family: Roboto;
    color: rgb(80, 80, 80);
}



/* sidebar */
.sidebar {
    flex: 1;
    padding: 50px 25px;
    background-color: #f5f6f8;
}

.sidebar div {
    display: flex;
    align-items: center;
    padding: 10px 0;
    cursor: pointer;
}

.sidebar div.hidden {
    display: none;
}

.sidebar div span {
    padding: 0 10px;
    pointer-events: none;
}
#home {
    color: #3bb273;
}

#star {
    color: #e1bc29;
}

#upcoming {
    color: #e15554;
}

#projects {
    color: #4d9de0;
}

.dropdown {
    display: flex;
    flex-direction: column;
}

/* content */
.content {
    flex: 5;
    padding: 50px;
}

.tasks-header {
    display: flex;
}


.task-form {
    display: flex;
    flex-wrap: wrap;
}

.task-form input {
    width: 150px;
}

.task {
    display: flex;
}

.task div {
    padding: 10px;
}