/* https://coolors.co/4d9de0-e15554-e1bc29-3bb273-7768ae */
@font-face {
    font-family: Roboto;
    src: url(./Roboto/Roboto-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: Roboto;
    src: url(./Roboto/Roboto-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Roboto;
    src: url(./Roboto/Roboto-Light.ttf);
    font-weight: 300;
}

/* general */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    height: 100vh;
    font-family: Roboto;
    font-weight: 300;
    color: rgb(80, 80, 80);
}

/* sidebar */
.sidebar {
    flex: 2;
    padding: 50px 25px;
    background-color: #f5f6f8;
    font-weight: 400;
}

.sidebar div {
    display: flex;
    padding: 10px 0;
    cursor: pointer;
}

.sidebar div.hidden {
    display: none;
}

.sidebar div span {
    padding: 0 10px;
    pointer-events: none;
}
#home {
    color: #3bb273;
}

#star {
    color: #e1bc29;
}

#upcoming {
    color: #e15554;
}

#projects {
    color: #4d9de0;
}

.sidebar .dropdown {
    display: flex;
    flex-direction: column;
    margin: 0 45px;
    padding: 0;
}

.sidebar .dropdown-items {
    padding: 5px 10px;
}

/* content - task header, task content, task form */
.content {
    flex: 5;
    display: flex;
    flex-direction: column;
    padding: 10% 15%;
}

/* task header */
.tasks-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 2px solid #4d9de0;
    font-weight: 400;
}

/* task content */ 
.task-content {
    padding: 0 10px;
}

.task {
    display: flex;
    flex-direction: column;
    padding: 5px 0;
    border-bottom: 1px solid #4d9de0;
}

.task .material-icons {
    cursor: pointer;
    color: rgb(168, 168, 168);
}

.task .material-icons:hover {
    background-color: rgb(230, 230, 230);
    border-radius: 5px;
}

.main-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.main {
    flex: 1;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.main-content div {
    pointer-events: none;
}

.detail {
    font-size: 14px;
    padding: 10px 0;
}

label {
    display: flex;
    padding: 5px 0;
    font-weight: 500;
}

label div {
    padding: 0 10px;
    font-weight: 300;
}

.task .hidden {
    display: none;
}

/* task form */
.task-form {
    display: none;
    position: absolute;
    align-self: center;
    flex-direction: column;
    width: 40%;
    border-radius: 5px;
    border: 1px solid gray;
    background-color: white;
}

.task-form-header {
    padding: 15px;
    border-bottom: 1px solid gray;
    background-color: #006ba6;
    color: white;
    font-weight: 400;
}

.task-form-content {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.property-container { 
    display: flex;
    flex-direction: column;
}

.property-name {
    font-weight: 400;
}

.task-form-property {
    padding: 5px;
    text-align: top left;
    font-weight: 300;
}

.property-container input {
    font-family: Roboto;
    font-weight: 300;
}

.property-container.description textarea {
    height: 150px;
    font-family: Roboto;
    font-weight: 300;
}

.property-name {
    padding: 10px 0;
}

.task-form-property {
    height: 25px;
    border-radius: 5px;
    border: 1px solid rgb(200, 200, 200);
}

.task-form-footer {
    display: flex;
    justify-content: flex-end;
}

.task-form-footer input {
    width: 100px;
    height: 50px;
    margin: 15px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid rgb(200, 200, 200);
}

.task-form-footer input:first-child {
    background-color: white;
    color: darkgray;
}

.task-form-footer input:first-child:hover {
    background-color: rgb(200, 200, 200);
    color: white;
}

.task-form-footer input:nth-child(2) {
    background-color: #006ba6;
    color: white;
}

.task-form-footer input:nth-child(2):hover {
    background-color: white;
    color: #006ba6;
}

